body {
	background-color: tan;
	background-image: url("background.jpg");
	background-size: cover;
}

div {
	user-select: none;
}

@font-face {
  font-family: "GlipervelzOrigy";
  src: url("GlipervelzOrigy.ttf");
}

.symbols {
	font-family: GlipervelzOrigy;
}

.fragments {
	font-size: clamp(1rem, 4vw, 2rem);
}

.highlighted {
	color: white;
}

.matched {
	color: #ff6400;
	text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
}

.selected {
	color: #0064ff;
	text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
}

.inputs {
	font-size: 2rem;
	line-height: 4rem;
	width: 4rem;
	border: 1mm solid yellow;
	text-align: center;
}

