body {
	background-color: tan;
}

div {
	user-select: none;
}

@font-face {
  font-family: "GlipervelzOrigy";
  src: url("GlipervelzOrigy.ttf");
}

.symbols {
	font-family: GlipervelzOrigy;
}

.highlighted {
	color: white;
}

.matched {
	color: #ff6400;
	text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
}

.selected {
	color: #0064ff;
	text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
}

.playground {
	font-size: 2em;
}
