/* global.module.css - Styles globaux partagés */

body {
	background-color: tan;
	background-image: url("../public/background.jpg");
	background-size: cover;
}

div {
	user-select: none;
}

@font-face {
	font-family: "GlipervelzOrigy";
	src: url("../public/GlipervelzOrigy.ttf");
}
