/* FragmentComponent.module.css */

.fragment {
	font-size: calc(1.1rem * var(--deci-ui-text-size, 1));
	display: inline-block;
}

.matched {
	color: #ff6400;
	text-shadow: -1px -1px 3px white, 1px -1px 3px white, -1px 1px 3px white, 1px 1px 3px white;
}

.letter {
	/* Styles pour la lettre */
}

.symbol {
	/* Styles pour le symbole */
}

.symbols {
	font-family: GlipervelzOrigy, serif;
}
